<html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                const course_id = $(this).attr("value")
                $("#div1").html(course_id);
            });
        });
    </script>
    <style>
        * {
            box-sizing: border-box;
        }
        .column-head
        {
            float:left;
            width: 5%;
            height: 115px;
            text-align: center;
        }
        .column-30
        {
            float: left;
            width: 30%;
            height: 150px;
        }
        .column-60
        {
            float: left;
            width: 60%;
        }
        .column-head p
        {
            line-height: 1.5;
            display: inline-block;
            vertical-align: middle;
        }
        .column-path{
            float:left;
            width: 3%;
            height: 115px;
            background:none;
        }
        .column-seat{
            border-radius: 10px;
            float:left;
            width: 14.16%;
            height: 115px;
            background-color: #a9a9a9; 
            margin: 3px;
            opacity: 8;
        }
        .column-seat:hover
        {
            background-color: darkolivegreen;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
        
    </style>
    <body>
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="icon-dashboard"></i> My Course</b></h5>
        </header>
        <div class="w3-main" >
            <div class="w3-row-padding w3-margin-bottom w3-container">
                <% for(var i=0; i<Data.course.length; i++) {%>
                    <div class='w3-quarter'>
                        <button name='course_id' value="<%= Data.course[i][0] %>" type='submit' style='width: 100%; margin-right:100px' class='w3-container w3-orange w3-button w3-padding-16 '>
                            <div class='w3-left'><i class='fa fa-user fa-fw w3-xxxlarge'></i></div>
                            <div class='w3-right'>
                            <!--右邊數字-->
                            </div>
                            <div class='w3-clear'></div>
                                <h4><%= Data.course[i] %></h4>
                        </button>
                    </div>
                <% } %>
            </div>
            <div id="div1">
                <% for(var i=1; i<10; i++){ %> 
                    <div class="row">
                        <div class="column-head">
                            <h2><%= i %> </h2>
                        </div>
                        <% for (var j=1; j<=6; j++) { %> 
                            <div class="column-seat w3-card-2 w3-animate-zoom">
                                <p style="text-align: center;"><i class="fa fa-desktop" aria-hidden="true"> </i><?php echo "  ".$pcid; ?></p>
                                <p class="w3-text-dark-grey" style="text-align: center; opacity: 1; font-size: 15px; font-family: 'Noto Sans TC', sans-serif;"><?php echo $row1['stu_id']?></p>
                                <p class="w3-dark-grey" style="text-align: center; opacity: 1; font-family: 'Roboto', sans-serif;"><?php echo $row1['stu_name']?></p>
                            </div>
                            <% if (j === 1 || j == 5) { %>
                                <div class='column-path'>
                                    <p>&nbsp</p>
                                </div>
                            <% } %>
                        <% } %> 
                    </div>
                <% } %> 
            </div>
        </div>
    </body>
</html>